<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/assets/css/todo_style.css" type="text/css" />
		<title>Do Me!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>
